{% extends "base.html" %}

{% block content %}

   {% if form.errors %}
   <div class="error_message">
       Nieprawidłowy login/hasło.
   {% endif %}
   </div>
<div class="login_bar">
<h1>Forum Innowacji MĹodych Badaczy</h1>
<div class="login">
<form action="" method="post">
    {%  csrf_token %}
    <label>e-mail:</label>
    <div class="login_div"> {{ form.username }} </div>
    <label>hasło:</label>
    <div class="login_div">{{ form.password }}</div>
    <input type="submit" class="button" value="Zaloguj się" />
</form>
</div>
<div class="register">
    <span>Nie masz jeszcze konta? </span>
	<a href="/register">Zarejestruj się.</a>
</div>
{%  endblock %}