{% extends "base.html" %}

{% load mytags %}

{% block content %}
<div class="my_account">
<h1>Forum Innowacji Młodych Badaczy</h1>
    <h2>Zgłoszenie referatu:</h2>

    <form action="" class="add_paper" method="post" enctype="multipart/form-data">{% csrf_token %}


        {{  form.as_p }}
   

        

        <p><input type="submit" value="Zgłoś"class="button" /></p>
		
	{% if attachments %}

            <h2>Przesłane wersje artykułu:</h2>
            <ul>
            {% for attachment in attachments %}
                <li><a href="/attachments/{{ attachment.id }}">{{ attachment.created }}</a>
                    ({% if attachment.type == 0 %}artykuł{% else %}prezentacja{% endif %})
                </li>
            {% endfor %}
            </ul>

        {% endif %}
    </form>
</div>
{% endblock %}