<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css" /> -->
</head>


<body>

<h1><a href="/">System zarządzania konferencjami</a></h1>
<hr/>

{% block content %}

Zarejestrowani użytkownicy:
<ol>
{% for u in users %}
	<li>{{ u }}</li>
{% endfor %}
</ol>
<a href="/register">Zarejestruj się</a>

{% endblock %}

<br> <br> <br> <br> <br>

<hr/>

{%  if user.is_anonymous %}
    Nie jesteś zalogowany.
{%  else %}
    Jesteś zalogowany jako: {{ user }}
    <a href="/logout">wyloguj</a>
{%  endif %}
<br/>
<br/>
<a href="/login">logowanie</a><br/>
<a href="/admin">admin</a>



{% include "footer.html" %}

</body>
</html>

