{% extends "base.html" %}

{% block content %}
<div class="my_account">
<h1>Forum Innowacji Młodych Badaczy</h1>
<h2>Wiadomość do organizatorów</h2>
<div class="contact_form">
    <form action="" method="post">{% csrf_token %}

       <label> {{ form.message.label }}:</label>
	   
        {{ form.message }}
        {{ form.message.errors }}

       
		<p style="padding-top:10px;">
			<label for="id_sendcopy">Wyślij do mnie kopię: </label>
			{{ form.sendcopy }} 
		</p>
       
        <input type="submit" value="Wyślij" class="button" />
    </form>
</div>
</div>
{% endblock %}