{% extends "base.html" %}

{% block content %}

<h2>Panel uczestnika konferencji</h2>

    <div>{{ message }}</div>

Masz do wyboru:
    <ol>
        <li><a href="/accounts/changepass/">Zmiana hasła</a></li>
        <li><a href="/accounts/profile/">Aktualizacja danych</a></li>
        <li><a href="/contact">Wiadomość do organizatorów</a></li>
    </ol>

<h3>Moje referaty</h3>

    <a href="/papers/">Dodaj referat</a>

    <ul>
    {% for paper in papers %}
        <li><a href="/papers/{{ paper.id }}">{{ paper }}</a> &nbsp;&nbsp;[<a href="/papers/delete/{{ paper.id }}">usuń</a>]</li>
    {% endfor %}
    </ul>

{% if user.is_staff %}

<h3>Zarejestrowani użytkownicy:</h3>
    <ol>
        {% for a in accounts %}
            <li>{{ a }} ({{ a.paper_set.all|length }} artykułów)</li>
        {% endfor %}
    </ol>

{% endif %}

{% endblock %}