{% extends "base.html" %}

{% block content %}

<h2>Panel uczestnika konferencji</h2>

    <div>{{ message }}</div>

Masz do wyboru:
    <ol>
        <li><a href="/logout">Wylogowanie</a></li>
        <li><a href="/changepass">Zmiana hasła</a></li>
        <li><a href="/profile/update">Aktualizacja danych</a></li>
        <li><a href="/contact">Wiadomość do organizatorów</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ol>

<h3>Moje referaty</h3>

    <a href="">Dodaj referat</a>

    <ul>
        <li> </li>
    </ul>

{% endblock %}